:root {
    --header-height: 60px;
    --sidebar-width: 300px;
}

@media screen and (max-width: 960px) {
    :root {
        /* --header-height: 92px; */
    }
}

.App {
  position: relative;
  padding-bottom: 55px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 16px;
  color: white;
  height: var(--header-height);
}

.header h1 {
  font-size: 20px;
  margin: 0;
}

.main {
  border-top: 1px solid white;
  position: fixed;
  top: var(--header-height);
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: scroll;
}

.sidebar {
    background-color: black;
    z-index: 10;
    position: fixed;
    top: var(--header-height);
    max-height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    right: calc(-1 * var(--sidebar-width));
    bottom: 0;
    transition: right;
    transition-duration: 200ms;
    overflow-y: scroll; 
}

.sidebar > div {
    padding-left: 12px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar.open {
    right: 0px;
}

.hamburger {
    background: none;
    font-size: 20px;
}

canvas {
  margin-right: var(--sidebar-width);
}

.dialog {
   position: fixed;
   top: 100px;
   z-index: 10;
}

.dialog div {
   display: flex;
   gap: 12px;
   flex-direction: column;
}

.controls {
  display: flex;
}

.cell {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  border: 0.5px solid white;
  position: relative;
}

.cell span {
  mix-blend-mode: difference;
  pointer-events: none;
}

.inDragArea {
  border: 0.5px solid rgba(0, 181, 226, 0.6);
}

.isInDragArea::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 181, 226, 0.6);
}

.row {
  white-space: nowrap;
}

.controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

