.App {
  position: relative;
  padding-bottom: 55px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 16px;
  color: white;
  height: 60px;
}

.header h1 {
  font-size: 20px;
  margin: 0;
}

.main {
  border-top: 1px solid white;
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: scroll;
}

@media screen and (max-width: 960px) {
    .header {
        flex-direction: column;
        padding: 16px;
        gap: 12px;
    }

    .main {
        top: 92px;
    }
}

@media screen and (max-width: 730px) {
    .main {
        top: 135px;
    }
}

.dialog {
   position: fixed;
   top: 100px;
   z-index: 10;
}

.dialog div {
   display: flex;
   gap: 12px;
   flex-direction: column;
}

.controls {
  display: flex;
}

.cell {
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  border: 0.5px solid white;
  position: relative;
}

.cell span {
  mix-blend-mode: difference;
  pointer-events: none;
}

.inDragArea {
  border: 0.5px solid rgba(0, 181, 226, 0.6);
}

.isInDragArea::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 181, 226, 0.6);
}

.row {
  white-space: nowrap;
}

.controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

